<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

  <meta name="google-site-verification" content="6C1yvlXGyAlyWtQGz-oJBXXTSXGVYAU_YZVe3klho8E" />

  <meta name="keywords" content="CSGO, CS:GO, counterstrike, Immaculate Grid, csgodoku">
  <meta name="description" content="Immaculate Grid for CS:GO. New puzzles everday at 10 PM EST.">

  <link href="/output.css" rel="stylesheet">
</head>
