@tailwind base;
@tailwind components;
@tailwind utilities;

.border-r {
  border-right-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.text-center {
  text-align: center;
}

.h-12 {
  height: 3rem;
}

.h-20 {
  height: 5rem;
}

@media (min-width: 768px) {
  .md\:h-20 {
    height: 5rem;
  }
}

/* Scrollbar Stuff */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

::-webkit-scrollbar-thumb {
  background: #c7c1c1;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

::-webkit-scrollbar-thumb:hover {
  background: #c7c1c1;
}
