@tailwind base;
@tailwind components;
@tailwind utilities;

.border-r {
  border-right-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.text-center {
  text-align: center;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.h-4 {
  height: 1rem;
}

.h-12 {
  height: 3rem;
}

.h-20 {
  height: 5rem;
}

.dropshadow {
  filter: drop-shadow(0px 0px 2px #808080);
}

.bg-gray-850 {
  background-color: rgb(24, 32, 47);
}

@media (min-width: 768px) {
  .md\:h-12 {
    height: 3rem;
  }
  .md\:h-20 {
    height: 5rem;
  }
}

/* Scrollbar Stuff */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

::-webkit-scrollbar-thumb {
  background: #c7c1c1;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

::-webkit-scrollbar-thumb:hover {
  background: #c7c1c1;
}
